In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [389]:
df = pd.read_csv('Fish.csv')

In [390]:
df = df.drop('Species', 1)
cs = df.columns

In [374]:
df.head()

   Weight  Length1  Length2  Length3   Height   Width
0   242.0     23.2     25.4     30.0  11.5200  4.0200
1   290.0     24.0     26.3     31.2  12.4800  4.3056
2   340.0     23.9     26.5     31.1  12.3778  4.6961
3   363.0     26.3     29.0     33.5  12.7300  4.4555
4   430.0     26.5     29.0     34.0  12.4440  5.1340

Normalizando

In [397]:
from sklearn import preprocessing
normalizer = preprocessing.Normalizer().fit(df)
df = normalizer.transform(df)
df = pd.DataFrame(df, columns = cs)

df.columns[0] = 'AAAA'

df

TypeError: Index does not support mutable operations

Treinando

In [392]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.drop('Weight',axis=1), 
                                                    df['Weight'], test_size=0.30)

In [257]:
from sklearn.linear_model import LinearRegression

In [393]:
lm = LinearRegression()
lm.fit(x_train, y_train)
predict = lm.predict(x_test)

In [342]:
lm.coef_

array([[ 6.54143391e-16, -2.90957182e-16,  1.25192417e-15,
         1.00000000e+00],
       [ 5.13194458e-01, -5.27511004e+00,  1.15775030e+00,
         4.37719192e+00],
       [ 5.37709926e-01, -3.97732542e+00,  4.83349350e+00,
        -4.19481310e-01]])

In [394]:
res = []
y_true = y_test.to_list()

mini =  999
maxi = -999

i = 0

for i in range(0, len(predict)):
    n = []
    
    n.append(y_true[i])
    n.append(predict[i])
    res.append(n)
    
res

[[0.9933226509246684, 1.026698143795687],
 [0.9901345863509444, 1.012965005434591],
 [0.985941713383111, 0.9869285966973774],
 [0.9970782727151969, 1.0524410448117667],
 [0.9524252459267849, 0.9151556467359654],
 [0.9961997649572775, 1.0408082774602392],
 [0.9947471951896605, 1.012386105853141],
 [0.9965962173834365, 1.0392210893630678],
 [0.9967268067080987, 1.037292346373423],
 [0.9895118920693602, 1.0075964603744518],
 [0.9970082613547565, 1.0392750908004602],
 [0.953845325845756, 0.8773945362542926],
 [0.9815526100071975, 0.9853314492749065],
 [0.9955528996558926, 1.0248693789513212],
 [0.9948022236304617, 1.0371152644443473],
 [0.9971762905132984, 1.045733224310136],
 [0.521604068409411, 0.5342878118182447],
 [0.37208387869706483, 0.40133323662543496],
 [0.9604856332060531, 0.911480271822149],
 [0.4177146259985701, 0.4775250547253903],
 [0.8983989212814627, 0.8081651579421169],
 [0.4401656977075471, 0.39668449911938464],
 [0.8355160690997249, 0.7061854021322711],
 [0.9976537941996858, 1.0567778023823173],
 [0.44554665209619404, 0.42233218244727366],
 [0.9874637174015786, 0.9753154196149907],
 [0.8432734633191835, 0.7114864133261466],
 [0.9878926607483064, 1.0052787340821923],
 [0.9670772306071496, 0.8935968701710202],
 [0.9904646405375339, 1.0126413692525804],
 [0.6197585154047021, 0.5628747634192268],
 [0.9814696977829076, 0.9719624687091188],
 [0.9752161464278041, 0.9446838043744321],
 [0.8750780354647056, 0.7425458688513801],
 [0.984251130942076, 0.9567113447168237],
 [0.9969525232255623, 1.0521797265108115],
 [0.9869788230859917, 0.9883738258414413],
 [0.9687667010405148, 0.9246115528459552],
 [0.9761792521368533, 0.9524609240192522],
 [0.9974702633618262, 1.046766730973115],
 [0.9977264227266995, 1.0622142608187253],
 [0.9803733217178725, 0.9653146274586808],
 [0.9868266462536309, 0.9832846199742526],
 [0.47436292859680174, 0.6079234759414098],
 [0.9746160145744239, 0.9385367753811535],
 [0.9237999630969145, 0.8756825014766838],
 [0.9839807997093547, 0.9753904908496864],
 [0.9277432274719093, 0.8698027934987493]]

In [395]:
normalizer.transform([[242.0, 23.2, 25.4, 30.0, 11.5200, 4.0200]])

array([[0.9814697 , 0.09409131, 0.10301376, 0.1216698 , 0.0467212 ,
        0.01630375]])

In [396]:
df

       Weight   Length1   Length2   Length3    Height     Width
0    0.981470  0.094091  0.103014  0.121670  0.046721  0.016304
1    0.985942  0.081595  0.089415  0.106074  0.042429  0.014638
2    0.989711  0.069571  0.077139  0.090529  0.036031  0.013670
3    0.989406  0.071684  0.079043  0.091309  0.034697  0.012144
4    0.992301  0.061153  0.066923  0.078461  0.028717  0.011848
..        ...       ...       ...       ...       ...       ...
154  0.491631  0.463423  0.491631  0.539988  0.084238  0.056159
155  0.521604  0.455430  0.482678  0.525497  0.094589  0.049397
156  0.474363  0.470475  0.505469  0.536574  0.088535  0.048828
157  0.619759  0.415270  0.449875  0.478189  0.090378  0.065034
158  0.603857  0.418755  0.455169  0.491582  0.088976  0.057024

[159 rows x 6 columns]